#index .main{
    margin-top: 30%;
}

#index .p_margin{
    margin-top: 80px;
    margin-bottom: 0;
}

#index a {
    width: 45%;
    margin: 40px 0;
    background-color: white;
    color: black;
    border: none;
    text-align: center;
    padding: 10px;
}

#index a:hover {
    background-color: rgba(51, 51, 51, 0.411);
    color: white;
    transition: background-color 0.5s,
    color 0.5s;
}

#index .img{
    width: 60%;
}

#index .serg{
    display: flex;
}

#index .serg p{
    margin-left: 5%;
    padding-left: 2%;
    border-left: solid 1px;
    margin-bottom: 0px;
}

